
.full-website{}
.full-website ul {
	text-align: center;
	background-color: #000;
	margin-bottom: 0;
}
.full-website ul li{
    display: inline-block;
    margin: 0 20px;
}
.full-website ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
padding: 20px;
  font-size: 25px;
  font-weight: 600;
}
.full-website h2{
    text-transform: capitalize;
    text-align: center;
    background-color: #dddddd;
    padding: 20px 0;
    font-weight: 600;
}
.middle-div{
    text-align: center;
    background-image: url(./picture/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    margin-top: -10px;
    z-index: 1;
    position: relative;
   padding-bottom: 100px;
  
}
.list-item {
	background-color: #000;
	color: white;
	display: inline-block;
	list-style: none;
	padding: 28px 51px;
    margin: 200px 50px;
}

.list1 li{
    margin: 7px 0;
}
.list1 li::before{
content: "\f6af";
font-family: "Font Awesome 5 Brands";
font-weight: 600;
margin-right: 20px;
}
.list2 li{
    margin: 7px 0;
}
.list2 li::before{
    content: "\f5d2";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 20px;
    }
    .list2 li::after{
        content: "\f5d2";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        margin-left: 20px;
    }
.list3 li{
    margin: 7px 0;
}
.list3 li::before{
    content: "\f2a2";
   
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-right: 20px;
 }
 .middle-div::after{
     content: "";
     height: 100%;
     width: 100%;
     background-color: rgba(0, 0, 0, 0.438);
     z-index: -1;
     position: absolute;
     left: 0;
     top: 0;
 }
 /* Footer */
 .ajaira {
	text-align: center;
	background: black;
	padding: 10px 0;
}
.ajaira li{
    display: inline-block;
    margin: 0 8px;
}
.ajaira li a {
	font-size: 25px;
}
.copy-right{
    color: white;
}